.main{
    border: 5px solid grey;
    width:500px;
    height:500px;
}
.box{
    width:100px;
    height:100px;
}
.box1{
    background-color: green;
}
.box2{
    background-color: rgb(128, 0, 100);
}
.box3{
    background-color: rgb(128, 115, 0);
}
.box4{
    background-color: rgb(13, 0, 128);
}
.box5{
    background-color: rgb(128, 0, 0);
}
